<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container app-width-container">

    <div class="govuk-header__content">
      <a href="#" class="govuk-header__link govuk-header__service-name">
        MACS Dashboard
      </a>
      <nav aria-label="Menu" class="govuk-header__navigation ">

        <ul id="navigation" class="govuk-header__navigation-list" routerLinkActive="govuk-header__navigation-item--active" [routerLinkActiveOptions]="{exact: true}" >
          <li class="govuk-header__navigation-item ">
            <a class="govuk-header__link" routerLink="home" >
              Home
            </a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" routerLink="dashboard" >
              Dashboard
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="govuk-width-container app-width-container">


  <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
    <router-outlet></router-outlet>
  </main>
</div>

